*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 85px;
  top: 385px;
  width: 95px;
  height: 87px;
	animation: heartBeat 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.flap {
  position: absolute;
  left: 266px;
  top: 87px;
  width: 570px;
  height: 154px;
  z-index: 3;
}

.logo {
	position: absolute;
  left: 265px;
  top: 100px;
  width: 511px;
  height: 123px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.arc {
	position: absolute;
  left: 630px;
  top: 90px;
  width: 212px;
  height: 144px;
	animation: bounceInRight 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}