*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 17px;
  top: 183px;
  width: 555px;
  height: 174px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 83px;
  top: 401px;
  width: 573px;
  height: 95px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 86px;
  top: 516px;
  width: 747px;
  height: 82px;
	animation: zoomIn 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 83px;
  top: 620px;
  width: 447px;
  height: 42px;
	animation: fadeInUp 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}