* {
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
  left: 282px;
  top: 45px;
  width: 461px;
  height: 234px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_3 {
	position: absolute;
  left: 57px;
  top: 326px;
  width: 431px;
  height: 151px;
	animation: stampIn 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 4;
}

.s2_4 {
	position: absolute;
  left: 57px;
  top: 520px;
  width: 431px;
  height: 150px;
	animation: stampIn 0.3s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 8;
}

.s2_5 {
	position: absolute;
  left: 627px;
  top: 448px;
  width: 355px;
  height: 292px;
	animation: slideInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s2_6 {
	position: absolute;
  left: 571px;
  top: 326px;
  width: 223px;
  height: 153px;
	animation: flashLong 2s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_7 {
	position: absolute;
  left: 583px;
  top: 398px;
  width: 158px;
  height: 187px;
	animation: zoomIn 0.2s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_8 {
	position: absolute;
  left: 0px;
  top: 703px;
  width: 1024px;
  height: 65px;
	animation: none 2s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s2_9 {
	position: absolute;
  left: 466px;
  top: 415px;
  width: 248px;
  height: 134px;
	animation: stampIn 0.3s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_10 {
	position: absolute;
  left: 466px;
  top: 562px;
  width: 248px;
  height: 134px;
	animation: stampIn 0.3s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}



@keyframes bounceInDownSmall {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}