*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.pulseIt {
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.s2_2 {
	position: absolute;
  left: 52px;
  top: 349px;
  width: 201px;
  height: 136px;
	z-index: 5;
}

.hit1 {
	position: absolute;
  left: 52px;
  top: 349px;
  width: 201px;
  height: 136px;
	z-index: 10;
}

.s2_3 {
	position: absolute;
  left: 306px;
  top: 349px;
  width: 202px;
  height: 136px;
    display: none;
	z-index: 5;
}

.hit2 {
	position: absolute;
  left: 306px;
  top: 349px;
  width: 202px;
  height: 136px;
    display: none;
	z-index: 10;
}

.s2_4 {
	position: absolute;
  left: 552px;
  top: 349px;
  width: 201px;
  height: 136px;
    display: none;
	z-index: 5;
}

.hit3 {
	position: absolute;
  left: 552px;
  top: 349px;
  width: 201px;
  height: 136px;
    display: none;
	z-index: 10;
}

.s2_5 {
	position: absolute;
  left: 795px;
  top: 349px;
  width: 201px;
  height: 136px;
    display: none;
	z-index: 5;
}

.hit4 {
	position: absolute;
  left: 795px;
  top: 349px;
  width: 201px;
  height: 136px;
    display: none;
	z-index: 10;
}

.s2_6 {
	position: absolute;
  left: 30px;
  top: 432px;
  width: 220px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s2_7 {
	position: absolute;
  left: 285px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s2_8 {
	position: absolute;
  left: 531px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s2_9 {
	position: absolute;
  left: 773px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s2_10 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s2_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}