* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.heart {
  position: absolute;
  left: 891px;
  top: 104px;
  width: 97px;
  height: 77px;
  animation: pulse 2s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.popup {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}


.pop_open {
	position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 100px;
	z-index: 10;
}

.pop_close {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

.popup1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.pop_open1 {
	position: absolute;
  left: 808px;
  top: 715px;
  width: 98px;
  height: 51px;
	z-index: 10;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}