* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	background-color: #000;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 670px;
	z-index:5;
}

.button {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 999;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 670px;
	display: none;
	z-index:10;
}