*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 266px;
  top: 448px;
  width: 625px;
  height: 254px;
	animation: flashLongOff 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 510px;
  top: 454px;
  width: 368px;
  height: 185px;
	animation: flashLongOff 0.5s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 15;
}

.flap {
  position: absolute;
  left: 266px;
  top: 87px;
  width: 570px;
  height: 154px;
  z-index: 3;
}

.logo {
	position: absolute;
  left: 265px;
  top: 100px;
  width: 511px;
  height: 123px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.arc {
	position: absolute;
  left: 630px;
  top: 90px;
  width: 212px;
  height: 144px;
	animation: bounceInRight 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashLongOff {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}