* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 186px;
  top: 60px;
  width: 162px;
  height: 380px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_3 {
	position: absolute;
  left: 677px;
  top: 60px;
  width: 161px;
  height: 380px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 195px;
  height: 380px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s1_4_wrap {
	position: absolute;
  left: 435px;
  top: 60px;
  width: 195px;
  height: 380px;
	animation: flashLong 2s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s1_5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 347px;
  height: 53px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5_wrap {
	position: absolute;
  left: 339px;
  top: 505px;
  width: 347px;
  height: 53px;
	animation: flashLong 2s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 141px;
  top: 593px;
  width: 743px;
  height: 69px;
	animation: fadeInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_7 {
	position: absolute;
	left: 707px;
	top: 592px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_8 {
	position: absolute;
	left: 46px;
	top: 476px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_9 {
	position: absolute;
	left: 707px;
	top: 476px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s1_pop1 {
	position: absolute;
	left: 56px;
	top: 452px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop2 {
	position: absolute;
	left: 394px;
	top: 452px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop3 {
	position: absolute;
	left: 56px;
	top: 565px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop4 {
	position: absolute;
	left: 394px;
	top: 565px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 12;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}